body {
	margin-top: 60px;
}

svg {
  font: 10px sans-serif;
}

.widget {
	/* display: inline; */
	border: 1px solid #e1e1e8;
	display: inline-block;
	margin: 3px;
	padding: 3px;
	border-radius: 4px;

}

.widget.offline {
	opacity: 0.5;
}
.widget.online {

}

rect {
	stroke: #f00;
	fill: #f00;
}

.barchart line {
	stroke: #888;
	opacity: 0.5;
}
path, area {
	opacity: 0.5;
}

.graphaxis0 {
	position: relative;
	display: block;
	top: 0;
	z-index: 9;
}

.graphchart0 {
	position: relative;
	display: inline;
	top: -120px;
	z-index: 10;
}

.graphchart path {
	fill: none;
	stroke-width: 1.5;
}

.widget .cog {
	background: #FFF;
	color: #767676;
	position: absolute;
	display: block;
	z-index: 10;
	top: -1px;
	right: -1px;
	padding: 5px 8px 5px 8px;
	border: 1px solid #e1e1e8;
	border-radius: 0 4px 0 4px;
	opacity: 0.5;
}

.widget .cog:hover {
	background: #563d7c;
	border-color: #563d7c;
	color: #FFF;
	opacity: 1;
}

.axis line {
	stroke: #888;
	stroke-width: 1px;
	fill: none;
	stroke-opacity: 0.5;
	shape-rendering: crispEdges;
	stroke-dasharray: 2,2;
}

.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
